
<div>
  <h1 class="titleAstro"></h1>
</div>

<style>
  div {
    width: 100%;
    border-radius: 8px;
    background-color: var(--soft-color);
    padding: 4px 8px;
    margin-top: 20px;
  }
  h1 {
    text-align: center;
    font-size: clamp(12px, 3vw, 24px);

  }
</style>