---
// import Images from "components/Images.jsx";
import Images from "components/Images.astro"
---


<main>
  <!-- <Images client:visible></Images> -->
  <Images></Images>
</main>


<style>
  main {
    background-color: var(--soft-color);
    padding: 12px;
    width: 100%;
    max-width: 920px;
    min-height: 100vh;
    height: auto;
    margin: 70px auto;
    border-radius: 8px;
  }
  
</style> 